@import "../../css/variables.scss";
@import "../../css/mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.advisors_container {
  padding: 50px;
  background: linear-gradient(to right bottom, #17c3fa, #1972f9 60%);
  text-align: center;
  .advisors_title {
    @include section_title;
    @media (max-width: 750px) {
        @include section_title_mobile;
    }
  }
  .advisor {
    padding: 20px;
    position: relative;
    overflow: scroll;
    // .advisor_image {
    //   display: inline-block;
    //   width: 80%;
    //   border-radius: 50%;
    //   margin-bottom: 30px;
    // }
    .advisor_name {
      color: $color_white;
      font-size: 2.2rem;
      border-bottom: 1px solid #393c48;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .advisor_location {
      color: #163075;
      font-size: 1.5rem;
    }
    .advisor_description {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // top: 0px;
      text-align: left;
      display: none;
      color: $color_white;
    }
    // .advisor_image,
    .advisor_name,
    .advisor_location,
    .advisor_description {
      transition: all 300ms;
    }
    &:hover {
      // .advisor_image,
      .advisor_name,
      .advisor_location {
        transform: scale(1.1);
        cursor: pointer;
      }
      .advisor_description {
        display: block;
      }
    }
  }
}

.slick-track {
  display: flex;
  align-items: baseline;
}

.slick-dots {
  position: static;
  li button:before {
    font-size: 15px;
    color: $color_white;
  }
  li.slick-active button:before{
    color: $color_white;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  transition: all 2s;
}

.modal-main {
  position: fixed;
  background-color: $color_white;
  border-radius:10px;
  padding: 50px;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.closeButton{
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  cursor: pointer;

  img{
    width: 40px;
  }

  &:focus {outline:0;}
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

