@import "../../css/variables.scss";
@import "../../css/mixins.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.advisors_container {
  padding: 50px;
  background: linear-gradient(to right bottom, #17c3fa, #1972f9 60%);
  text-align: center;
  .advisors_title {
    @include section_title;
    @media (max-width: 750px) {
        @include section_title_mobile;
    }
  }
  .advisor {
    padding: 20px;
    position: relative;
    overflow: scroll;
    .advisor_image {
      display: inline-block;
      width: 80%;
      border-radius: 50%;
      margin-bottom: 30px;
    }
    .advisor_name {
      color: $color_white;
      border-bottom: 1px solid #393c48;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .advisor_location {
      color: #163075;
    }
    .advisor_description {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // top: 0px;
      text-align: left;
      display: none;
      color: $color_white;
    }
    .advisor_image,
    .advisor_name,
    .advisor_location,
    .advisor_description {
      transition: all 300ms;
    }
    &:hover {
      .advisor_image,
      .advisor_name,
      .advisor_location {
        -ms-filter: blur(10px);
        filter: blur(10px);
      }
      .advisor_description {
        display: block;
      }
    }
  }
}

.slick-dots {
  position: static;
  li button:before {
    font-size: 10px;
  }
}

