@import "../../css/variables.scss";

.hero_container{
    background: url(../../img/Header.JPG) center center / cover no-repeat;
    background-color: $color_dark;
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.hero_heading{
    width: 80%;
    font-style: normal;
    font-weight: 900;
    font-size: 6.5em;
    color: $color_white;
    text-shadow: 0px 10px 8px rgba(0, 0, 0, 0.8);
    line-height: 78%;
    letter-spacing: -0.015em;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s;
    
    @media only screen and (max-width: 1440px) {
        font-size: 4.5em;
    }

    @media only screen and (max-width: 768px) {
        font-size: 2.5em;
    }

    @media only screen and (max-width: 425px) {
        font-size: 1.5em;
    }


    
    .hero_subheading{
        display: block;
        font-weight: 100;
        font-size: .38em;
        line-height:120%;
    }


    #videoBG {
        position:fixed;
        margin: 0 auto;
        z-index: -1;
    }

    @media (max-width: 767px) {
        #videoBG {
            display: none;
        }
        .hero_container{
            background: url(../../img/Header.JPG) center center / cover no-repeat;
        }
    }
    @media (min-aspect-ratio: 16/9) {
        #videoBG {
            width:100%;
            height: auto;
        }
    }
    @media (max-aspect-ratio: 16/9) {
        #videoBG { 
            width:auto;
            height: 100%;
        }
    }
    
}