.hero_container{
    background: url(/Header.JPG) center center / cover no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.hero_title{
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 6.5em;
    color: white;
    text-shadow: 6px 2px 9px #302525;
    line-height: .5em;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    
    span{
        font-weight: 100;
        font-size: .38em;
    }
}