@import "../../../css/variables.scss";


.partners_cards_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // border: rgb(231, 35, 9) solid 1px;
    .partners_cards_card_container {
        width: 100%;
        min-height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 100px;
        // border: yellowgreen solid 1px;
        &.even {
            flex-flow: row-reverse;
            flex-wrap: wrap;
        }
       .partners_cards_card_left_container {
            width: 40%;
            min-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: blue solid 5px;
            margin-right: 5%;
            padding-bottom: 130px;
            &.even {
                margin-left: 5%;
                margin-right: 0%;
            }
            .partners_cards_card_picture {
                // background-image: url(../../../img/Partner_1.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 100%;
                height: 100%;
            }
       }

       .partners_cards_card_right_container {
            flex-basis: 390px;
            flex-grow: 1;
            min-height: 500px;
            display: flex;
            flex-flow: column;
            .partners_cards_card_firstRow_container {
                display: flex;
                align-items: center;
                .partners_cards_card_name {
                    color: $color_white;
                    font-size: $font_titleB;
                }
                .partners_cards_card_decorationWhite {
                    width: 4px;
                    height: 35px;
                    background-color: $color_white;
                    margin: 0px 20px;
                }
                .partners_cards_card_city {
                    color: $color_blue;
                    font-size: $font_paragraph;
                    font-weight: 300;
                    transform: translateY(0.5rem);
                }
            }
            .partners_cards_card_secondRow_container {
                display: flex;
                align-items: center;
                .partners_cards_card_number {
                    color: $color_blue;
                    font-size: $font_paragraph;
                }
                .partners_cards_card_decorationBlue {
                    width: 3px;
                    height: 20px;
                    margin: 0px 20px;
                    background-color: $color_blue;
                }
                .partners_cards_card_email {
                    color: $color_blue;
                    font-size: $font_paragraph;
                }
            }
            .partners_cards_card_content {
                color: $color_white;
                text-align: left;
                font-size: $font_paragraph;
                margin-top: 1.5rem;
                line-height: 1.8rem;
            }
       }
    }
}

@media (max-width: 900px) {
    .partners_cards_container {
        .partners_cards_card_container {
            .partners_cards_card_left_container {
                width: 100%;
                margin-right: 0%;
                padding-bottom: 80px;
                &.even {
                    margin-left: 0%;
                    margin-right: 0%;
                }
                .partners_cards_card_picture {
                    background-image: url(../../../img/Partner_1.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 100%;
                    height: 100%;
                }
           }
        }        
    }
}

@media (max-width: 500px) {
    .partners_cards_container {
        .partners_cards_card_container{
            .partners_cards_card_left_container {
                min-height: 300px;
            }
            .partners_cards_card_right_container {
                .partners_cards_card_firstRow_container {
                    flex-direction: column;
                    text-align: center;
                    .partners_cards_card_decorationWhite {
                        display: none;
                    }
                    .partners_cards_card_city {
                        margin-top: -10px;
                    }
                }

                .partners_cards_card_secondRow_container {
                    flex-direction: column;
                    margin-top: 30px;
                    text-align: center;
                    .partners_cards_card_decorationBlue {
                        display: none;
                    }                    
                }

                .partners_cards_card_content {
                    text-align: center;
                }

            }
        }
    }
}