

.about_container {
    width: 100%;
    min-height: 100vh; 
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right bottom, #17C3FA, #1972F9 60%);
    .about_title {
        margin-bottom: 50px;
        color: white;
        font-size: 2rem;
    }
}