@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.about_container {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0px 50px 50px 50px;
    background: linear-gradient(to right bottom, #17C3FA, #1972F9 60%);
    .about_title {
        @include section_title;
        @media (max-width: 750px) {
            @include section_title_mobile;
        }
    }
}