@import "../../css/variables.scss";

.about_container {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px;
    background: linear-gradient(to right bottom, #17C3FA, #1972F9 60%);
    .about_title {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);

        color: $color_white;
        font-size: $font_titleA;
    }
}