@import "../../css/variables.scss";

@mixin position_center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 3em;
  }
}

button {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 12;
  top: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out;
  &:before {
    content: "";
    @include position_center;
    right: auto;
    width: 100%;
    background: linear-gradient(
      to bottom, 
      $color_white, $color_white 20%, 
      transparent 20%, transparent 40%, 
      $color_white 40%, $color_white 60%, 
      transparent 60%, transparent 80%, 
      $color_white 80%, $color_white 100%
    );
    transition: opacity 0.2s ease-out,
                width 0.2s 0.2s ease-out;
  }
  &:after {
    opacity: 0;
    content: '×';
    color: $color_white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: $font_primary;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
  }
  &:active {
    transform: translateY(2px);
  }
  &:hover {
    opacity: 1;
  }
  .open & {
    z-index: 12;
    opacity: 1;
    &:before {
      opacity: 0;
      width: 0;
    }
    &:after {
      opacity: 1;
      transform: translate3d(0,0,0)
                 rotate(360deg);
      transition: transform 0.4s 1s ease-out,
                  opacity 0.4s 1s ease-out;
    }
  }
}

nav {
  z-index: 11;
  position: fixed;
  top: -100%; left: 0;
  width: 100vw;
  height: 100%;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  overflow: hidden;
  &:before {
    content: '';
    @include position_center;
    background: rgba($color-dark, 0.98);
    width: 100vw;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
  }
  .open & {
    top: 0;
    &:before {
      animation: menu-animation 0.8s ease-out forwards;
    }
  }
}

ul.menu {
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  backface-visibility: hidden;
  perspective: 1000;
  color: $color_white;
  li {
    opacity: 0;
    text-align: center;
    transform: translate3d(0,36px,0);
    
    a {
        color: $color_white;
        text-decoration: none;
        font-weight: 900;

    }

    .open & {
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: transform 0.2s ease-out,
                  opacity 0.2s ease-out;
      @for $i from 1 to 6 {
        &:nth-child(#{$i}) { transition-delay: $i * 0.1s + 0.65s; }
      }
    }
  }
} 



@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04)
               translateY(300%);
  }
  40% {
    transform: scale(0.04)
               translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04)
               translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02)
               translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}