@import "../../css/variables.scss";

.contact_container {
  display: flex;
  justify-content: space-evenly;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../../img/timj-EJ4qfFp1g8Q-unsplash.jpg) center center / cover no-repeat;
  color: white;
  padding: 50px 0;

  .contact_wrapper {
    padding-top: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;

    .contact_form {
      form {
        display: flex;
        flex-direction: column;
        

        input {
          border: none;
          border-bottom: 1px solid white;
          padding: 8px;
          margin: 10px 0px;
          background: transparent;
          outline: none;
          &::placeholder {
            font-size: 14px;
            color: rgb(192, 192, 192);
          }
        }
        textarea {
          &::placeholder {
            font-size: 14px;
            color: rgb(192, 192, 192);
          }
        }

        textarea {
          font-family: $font_primary;
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 1px solid white;
          padding: 8px;
          margin: 10px 0px;
          color: white;
        }

        button {
          margin-top: 30px;
          width: 100px;
          padding: 10px;
          background-color: #028dc3;
          border-radius: 7px;
          border: none;
          color: white;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }

    .contact_title {
      display: flex;
      font-size: 25px;
      margin-bottom: 30px;
      font-weight: bold;
      img {
        padding: 5px 0px;
        margin-right: 5px;
        width: 20px;
        height: 30px;
      }
    }

    .sub-title {
      color: #028dc3;
      font-weight: bold;
      font-size: 17px;
    }

    .employee_details {
      margin-bottom: 20px;

      .employee_address {
        display: flex;
        margin: 0;
        span {
          margin: 0 5px;
        }
      }
    }

    .contact_address {
      width: 25%;
      padding-top: 60px;

      p {
        padding: 10px 0;
      }
    }


    @media (max-width: 450px) {
      .employee_details {
        .employee_address{
          display:block;
        }
      }
    }

    @media (max-width: 750px) {
      padding-top: 50px;
    }

    @media (max-width: 1024px) {
      flex-direction: column;

      .contact_details_area{
        padding-top: 60px;
      }

      .contact_address {
        width: 100%;
        padding-top: 20px;
      }
    }
  }

  @media(max-width:1000px){
    .contact_container{
      display:flex;
      flex-direction:column;
      align-items:center;
    .form_area{
      margin-bottom:100px;
    }
  }
}
}