.partners_container {
    width: 100%;
    min-height: 100vh; 
    text-align: center;
    padding: 50px 50px 150px 50px;
    background-color: #22242d;
    .partners_title {
        margin-bottom: 50px;
        color: white;
        font-size: 2rem;
    }
}