@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.partners_container {
    width: 100%;
    text-align: center;
    padding: 50px 50px 150px 50px;
    background-color: $color_dark;
    .partners_title {
        @include section_title;
        @media (max-width: 750px) {
            @include section_title_mobile;
        }
    }
}
