// color
$font_primary: 'Roboto', sans-serif;
$color_white: #FFFFFF;
$color_semiWhite: #f0f0f0;
$color_blue: #028DC3;
$color432C: #393C48;
$color_dark: darken($color432C, 10%);

//font-size
$font_titleA: 3.5rem;
$font_titleB: 2.2rem;
$font_subtitle: 1.5rem;
$font_paragraph: 1rem;
