.footer_container {
    background-color: #393c48;
    padding: 40px 0px;
  }
  
  .logo {
    width: 30%;
  }
  .icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .icon_items {
    margin: 0px 10px;
    width: 20px;
  }
  
  .copy-right {
    color: white;
    font-weight: 100;
    font-size: 10px;
  }