.footer_container {
    background-color: #393c48;
    padding: 30px 0px 10px 0px;;
    text-align: center;

  .footer_logo {
    height: 175px;
  }

  .line_split{
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(222, 222, 222, 0.5) !important;
  }
  
  .footer_bottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 30px 0px 30px;
    .footer_icon_items {
          margin: 0px 10px;
          width: 30px;
          &:hover{
          transform:scale(1.1)
          }
        }
  }

  .copy_right {
    color: white;
    font-weight: 100;
    font-size: 10px;
  }
}