@import "../../../css/variables.scss";

.about_cards_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    .about_cards_card_container {
        flex-basis: 150px;
        flex-grow: 0.5;
        text-align: center;
        margin: 70px;
        
        transform: translateY(50px);
        opacity: 0;
        transition-duration: 1s;
        &.animateIn:nth-child(1) {
            transform: translateY(0px);
            opacity: 1;
        }
        &.animateIn:nth-child(2) {
            transition-delay: 0.3s;
            transform: translateY(0px);
            opacity: 1;
        }
        &.animateIn:nth-child(3) {
            transition-delay: 0.6s;
            transform: translateY(0px);
            opacity: 1;
        }
        &.animateIn:nth-child(4) {
            transition-delay: 0.9s;
            transform: translateY(0px);
            opacity: 1;
        }
        .about_card_img {
            width: 140px;
        }
        .about_card_title {
            color: $color_white;
            margin-top: 10px;
            font-size: $font_subtitle;
        }
        .about_card_content {
            color: $color_semiWhite;
            font-size: $font_paragraph;
        }
    }
}