.about_cards_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // border: rgb(231, 35, 9) solid 1px;
    .about_cards_card_container {
        flex-basis: 150px;
        flex-grow: 0.5;
        text-align: center;
        margin: 70px;
        // border: yellowgreen solid 1px;
        .about_card_img {
            width: 140px;
        }
        .about_card_title {
            color: white;
            margin-top: 10px;
        }
        .about_card_content {
            color: #f0f0f0;
        }
    }
}